{
    "root": true,
    "env": {
        "node": true,
        "vue/setup-compiler-macros": true
    },
    "extends": ["plugin:vue/vue3-essential", "eslint:recommended", "@vue/typescript"],
    "parserOptions": {
        "parser": "@typescript-eslint/parser"
    },
    "rules": {
        "no-unused-vars": "off",
        "vue/multi-word-component-names": "off",
        "vue/no-setup-props-destructure": "off"
    },
    "globals": { "defineOptions": "writable" }
}
